body {
    background-image: url("https://wallpaperaccess.com/full/279547.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 200px;
    display: grid;
    grid-template-rows: 200px 1fr 200px;
    grid-template-columns: 200px 1fr 200px;
    justify-content: center;
    justify-items: center;
}

.play-field {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    position: relative;
    box-shadow: 5px 10px 10px 5px black;
}